<?xml version="1.0" encoding="UTF-8"?>
<!-- slf4j日志配置文件 -->
<configuration debug="true" scan="true" scanPeriod="30 seconds">

	<contextName>${HOSTNAME}</contextName>

	<!-- 设置日志输出根目录 -->
	<property name="prjname" value="dal" />
	<property name="log.dir" value="${catalina.base}/logs" />
	<property name="encoding" value="UTF-8" />
	<property name="normal-pattern"	value="%d{yy-MM-dd.HH:mm:ss} %-5level [%thread] %logger{40}.%M:%L | %msg%n" />
	<property name="console-pattern" value="%.-5level|%d{yy-MM-dd.HH:mm:ss}|%-40.40logger{0}|%msg%n" />
	<property name="plain-pattern" value="%.-5level|%d{yy-MM-dd.HH:mm:ss}|%msg%n" />

	  <appender name="${prjname}_default" class="ch.qos.logback.core.rolling.RollingFileAppender">
	    <prudent>false</prudent>
	    <Append>true</Append>
	    <encoder>
	      <pattern>${normal-pattern}</pattern>
	      <charset>${encoding}</charset>
	    </encoder>
	    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
	      <fileNamePattern>${log.dir}/${prjname}_default.%d{yyyy-MM-dd}.log
	      </fileNamePattern>
	      <maxHistory>30</maxHistory>
	    </rollingPolicy>
	  </appender>
	
	<appender name="${prjname}_error" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
		<prudent>true</prudent>
		<Append>true</Append>
		<encoder>
			<pattern>${normal-pattern}</pattern>
			<charset>${encoding}</charset>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${log.dir}/${prjname}_error.%d{yyyy-MM-dd}.log
			</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
	</appender>

	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${normal-pattern}</pattern>
		</encoder>
	</appender>
	
	
	<!-- logger 配置 -->
  <logger name="com.daling" level="DEBUG" additivity="false">
    <appender-ref ref="${prjname}_default" />
    <appender-ref ref="console" />
  </logger>

  <logger name="org.apache.commons.dbcp2" level="DEBUG" additivity="false">
    <appender-ref ref="console" />
    <appender-ref ref="dbcp2" />
  </logger>
  
	<root level="DEBUG">
		<appender-ref ref="console" />
		<appender-ref ref="${prjname}_error" />
	</root>
 	</configuration>
